body{
    background-color: #ffffff;
}

h1{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 40px;
    font-variant: small-caps;
    text-align: center;
    color: #000000;
    background-color: #008184;
    padding: 2px;
    margin: 3px 3px 10px 3px;
}

#LogoElectro20{
    margin: 0px 0px 0px 20px;
    width: 5%;
}

nav{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 20px 0px 20px 0px;
}

h3{
    font-family: Roboto, Arial, sans-serif;
    font-style: italic;
    margin: 3px;
}

#brothersOfIslam{
    margin: 15px 3px 15px 3px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
}
ol{
    margin: 5px 0px 10px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}
label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-weight: 500;
}
input[type=text]{
    margin: 5px 0px 5px 0px;
    color: #ffff;
    background-color: #006d70;
}
button{
    margin: 5px 0px 10px 0px;
}
#HopOnLaPodrida{
    margin: 0px 0px 0px 0px;
    float: left;
    width: 12%;    
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.2%;
    text-align: center;
    background-color: #008184;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color: #c9c9c9;
}